.item {
  width: 100%;

  &__heading {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    color: $grey;

    &_alert {
      color: $red;
    }
  }

  &__map-link {
    align-self: center;
    background-color: $honey;
    border-radius: 0.5rem;
    cursor: pointer;
    display: block;
    font-size: 0.8em;
    margin-left: 1rem;
    padding: 0.3rem;
  }
}
