.shops {
  grid-area: sh;
  height: auto;
  padding: 1rem;

  &__heading {
    @include md {
      display: block;
    }
    border-bottom: 1px dashed $honey;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__list {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
  }
}
