.shops {
  @include sm {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  @include lg {
    padding-left: 3rem;
  }
  @include xl {
    padding-left: 4rem;
  }
  grid-area: sh;
  height: auto;
  padding: 0 1rem;

  &__heading {
    @include md {
      display: block;
    }
    border-bottom: 1px dashed $honey;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__list {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
  }
}
